/*  CONTAINER STYLES   */

.container {
    padding-top: 10px;
}

/*  CONPETITORS VIEW STYLES   */

.competitorsView {
    padding: 30px 30px 7px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    font-size: 30px;
}

.competitorsView .row {
    padding: 3px;
    margin-bottom: 20px;
    border: 1px solid #ccc !important;
    border-radius: 5px;
}

.competitorsView .col-lg-6 {
    border-right: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}


/*  CRONOS STYLES   */

.crono {
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 20px 20px 30%;
    font-size: 30px;

}

.bigCrono {
    border-right: 1px solid #ccc !important;
}

.crono .col-lg-5 {
    padding-right: 0;
}


/*  CONTROLLERS VIEW STYLES   */

.controller {
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    font-size: 30px;
}

.competitorController {
    width: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    margin: 20px;
    font-size: 30px;
}

#competitor2 {
    background-color: #aad7ff;
}

.cronoController {
    width: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    margin-right: 10%;
    margin-left: 10%;
    font-size: 30px;
}

.btn {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.controller .competitorController .btn-success {
    margin-right: 50px;
}

.controller .competitorController .btn-danger {
    margin-left: 50px;
}

.btnL {
    margin-right: 50px;
}

.btnR {
    margin-left: 50px;
}

.endButton{
    margin-top: 60px;
}



