/*
RESPONSIVE TABLES
This is a little CSS library self-made. It can replace a normal HTML table with a combination of divs that allows the web
to be adapted in mobile devices since media queries have been used.
 */

.responsiveTable {
    display: flex;
    flex-direction: column;
}

.responsiveTable > .rtRow {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(222, 226, 230);
    justify-content: space-around;
    padding: .5em 1em;
    align-items: center;
}

.responsiveTable > .rtRow.rtHeader {
    font-weight: 700;
}

.responsiveTable > .rtRow:first-child {
    border-top: 1px solid rgb(222, 226, 230);
}

.width10 {
    width: 10%;
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}

.width40 {
    width: 40%;
}

.width60 {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .responsiveTable > .rtRow {
        flex-direction: column;
    }

    .width10, .width15, .width20, .width40, .width60 {
        width: 100%;
    }
}