<div class="row">
    {{ #postRow }}
    <div class="col-lg-4">
        <a href="/news/{{ idPost }}">
            <div class="post-box">
                <div class="post-img"><img alt="" class="img-fluid" src="/image/post/{{ idPost }}"></div>
                <span class="post-date">{{ getFormattedEditionTimestamp }}</span>
                <h3 class="post-title">{{ title }}</h3>
                <div class="readmore stretched-link mt-auto" data-bs-target="#modalPost"
                     data-bs-toggle="modal">
                    <span>Leer más</span><i class="far fa-long-arrow-right"></i>
                </div>
                <div class="post-info">{{ body }}</div>
            </div>
        </a>
    </div>
    {{ /postRow }}
</div>