<div class="container pb-4">
    <h2 *ngIf="post.idPost" class="h2">Edición de noticia</h2>
    <h2 *ngIf="!post.idPost"  class="h2">Creación de una nueva noticia</h2>

    <form class="needs-validation" (submit)="submitForm($event)" enctype="multipart/form-data" novalidate>

        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> Recuerda que el campo del título y el cuerpo de la noticia no pueden estar vacíos.
        </div>

        <!-- Title -->
        <label class="txt1" for="title">Título <span class="asterisk">*</span></label>
        <input class="form-control" id="title" name="title" required type="text"
               [(ngModel)]="post.title">
        <div class="invalid-feedback">
            Este campo no puede estar vacio.
        </div>

        <!-- Image -->

        <label class="txt1" for="image">Imagen</label>
        <img *ngIf="post.imageFile" class="imageInTheMiddle" src="{{post.imageFile}}">

        <div class="custom-file mt-4">
            <input type="file" class="custom-file-input" id="image" name="image"
                   accept="image/jpeg, image/png" (change)="onImageSelected($event)"
                   [(ngModel)]="image">
            <label class="custom-file-label" for="image">{{ getInterpretedFileName() }}</label>
        </div>
        <div class="invalid-feedback">
            Prueba de nuevo a subir la imagen en formato ".jpg" o ".png".
        </div>

        <!-- Body -->
        <label class="txt1" for="body">Cuerpo <span class="asterisk">*</span></label>
        <textarea cols="30" id="body" name="body" rows="20" required [(ngModel)]="post.body"></textarea>
        <div class="container-login100-form-btn mt-2">
            <button class="btn btn-corporative">Actualizar datos</button>
        </div>
        <div class="passwrequirements">Se registrarán automáticamente la fecha actual y el autor de la noticia.</div>
    </form>
</div>
