<div class="container pb-4">
    <h2 *ngIf="post.idPost" class="h2">Edición de noticia</h2>
    <h2 *ngIf="!post.idPost" class="h2">Creación de una nueva noticia</h2>

    <form (submit)="submitForm($event)" class="needs-validation" enctype="multipart/form-data" novalidate>

        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> Recuerda que el campo del título y el cuerpo de la noticia no pueden estar vacíos.
        </div>

        <!-- Title -->
        <label class="txt1" for="title">Título <span class="asterisk">*</span></label>
        <input [(ngModel)]="post.title" class="form-control" id="title" name="title" required
               type="text">
        <div class="invalid-feedback">
            Este campo no puede estar vacio.
        </div>

        <!-- Image -->

        <label class="txt1" for="image">Imagen</label>
        <img *ngIf="post.imageFile" class="imageInTheMiddle" src="{{post.imageFile}}">

        <div class="custom-file mt-4">
            <input (change)="onImageSelected($event)" [(ngModel)]="image" accept="image/jpeg, image/png"
                   class="custom-file-input"
                   id="image" name="image"
                   type="file">
            <label class="custom-file-label" for="image">{{ getInterpretedFileName() }}</label>
        </div>
        <div class="invalid-feedback">
            Prueba de nuevo a subir la imagen en formato ".jpg" o ".png".
        </div>

        <!-- Body -->
        <label class="txt1" for="body">Cuerpo <span class="asterisk">*</span></label>
        <textarea [(ngModel)]="post.body" cols="30" id="body" name="body" required rows="20"></textarea>
        <div class="container-login100-form-btn mt-2">
            <button class="btn btn-corporative">Actualizar datos</button>
        </div>
        <div class="passwrequirements">Se registrarán automáticamente la fecha actual y el autor de la noticia.</div>
    </form>
</div>
