<ng-container *ngIf="step === 1">
    <form [ngClass]="{'was-validated': wasValidated}" class="login100-form validate-form needs-validation" novalidate
          #form (submit)="firstStep($event)">
        <h2 class="h2">Validación de licencia</h2>
        <div class="alert alert-danger" *ngIf="error">
            <strong>Advertencia:</strong> El valor introducido no está registrado en la base de datos.
        </div>
        <label class="txt1" for="licenseId">Nº de licencia<span class="asterisk">*</span></label>
        <input class="form-control" id="licenseId" name="licenseId" required type="text" pattern="(JU-)?[0-9]{10}$"
               [(ngModel)]="recoveryForm.licenseId">
        <div class="invalid-feedback">
            El número de licencia introducido no cumple con el formato requerido (secuencia de 10 dígitos con JU- al
            comienzo en caso de ser árbitro).
        </div>
        <div class="container-login100-form-btn mt-3">
            <button class="btn btn-corporative" type="submit">Validar licencia</button>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="step === 2">
    <form [ngClass]="{'was-validated': wasValidated}" class="needs-validation" novalidate #form
          (submit)="secondStep($event)">
        <h2 class="h2">Pregunta de seguridad</h2>
        <div class="alert alert-danger" *ngIf="error">
            La respuesta de seguridad <strong>no coincide</strong>.
        </div>
        <div class="wrap-input100alt">
            <span class="txt1">Pregunta: </span>
            <div class="txt2">
                <span>{{ this.recoveryForm.secQuestion }}</span>
            </div>
        </div>
        <label class="txt1" for="securityAnswer">Respuesta<span class="asterisk">*</span></label>
        <input class="form-control" id="securityAnswer" name="securityAnswer" required type="text"
               [(ngModel)]="recoveryForm.secAnswer">
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>
        <div class="container-login100-form-btn mt-2">
            <button class="btn btn-corporative" type="submit">Continuar</button>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="step === 3">
    <form class="needs-validation" novalidate [ngClass]="{'was-validated': wasValidated}" (submit)="thirdStep($event)"
          #form>
        <h2 class="h2">Nueva contraseña</h2>
        <div class="alert alert-danger" *ngIf="error">
            Se ha producido algún error inesperado. Inténtalo de nuevo.
        </div>
        <label class="txt1" for="password">Nueva contraseña <span class="asterisk">*</span></label>
        <div class="input-group mb-3">
            <input [(ngModel)]="recoveryForm.newPassword" [type]="passwordType ? 'password' : 'text'"
                   class="form-control form-control-lg"
                   id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <div class="input-group-append">
                <button (click)="changeVisibility()" class="btn btn-outline-secondary" type="button"><i
                    [ngClass]="{'far': true, 'fa-eye': !passwordType, 'fa-eye-slash': passwordType}"></i>
                </button>
            </div>
            <div class="invalid-feedback">
                Es obligatorio introducir una contraseña que verifique los requisitos para continuar.
            </div>
        </div>
        <div class="passwrequirements">La contraseña debe tener al menos 8 caracteres incluyendo al menos un
            número, una letra minúscula y una letra mayúscula.
        </div>
        <div class="container-login100-form-btn mt-2">
            <button class="btn btn-corporative" type="submit">Cambiar contraseña</button>
        </div>
    </form>
</ng-container>
