<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de la contraseña - Juding</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicons -->
    <link href="/assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/font-awesome/css/all.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/bootstrapAccomodations.css" rel="stylesheet">
    <link href="/assets/css/loginAndRegistration.css" rel="stylesheet">
</head>
<body>
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html">
            <img alt="" src="/assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#">Recuperar contraseña</a></li>
                <li><a class="login scrollto" href="/index.html">Volver al inicio</a></li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<div class="container pb-4">
    <form class="login100-form validate-form needs-validation" method="post" action="/passwordRecovery/1" novalidate>
        <h2 class="h2">Validación de licencia</h2>

        {{ #isError }}
        <div class="alert alert-danger">
            <strong>Advertencia:</strong> El valor introducido no está registrado en la base de datos.
        </div>
        {{ /isError }}
        {{ #answerMismatch }}
        <div class="alert alert-danger">
            <strong>Advertencia:</strong> La respuesta de seguridad no coincide. Introduzca su número de licencia para
            volver a iniciar el proceso.
        </div>
        {{ /answerMismatch }}

        <!-- License ID field -->
        <label class="txt1" for="licenseId">Nº de licencia<span class="asterisk">*</span></label>
        <input class="form-control" id="licenseId" name="licenseId" required type="text" pattern="(JU-)?[0-9]{10}$">
        <div class="invalid-feedback">
            El número de licencia introducido no cumple con el formato requerido (secuencia de 10 dígitos con JU- al
            comienzo en caso de ser árbitro).
        </div>

        <!-- Submitting -->
        <div class="container-login100-form-btn mt-3">
            <button class="btn btn-corporative" type="submit">Validar licencia</button>
        </div>
    </form>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/validationScript.js"></script>
</body>
</html>