<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de contraseña - Juding</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicons -->
    <link href="/assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/font-awesome/css/all.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/bootstrapAccomodations.css" rel="stylesheet">
    <link href="/assets/css/loginAndRegistration.css" rel="stylesheet">
    <link href="/assets/css/securityQuestion.css" rel="stylesheet">

</head>
<body>
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html">
            <img alt="" src="/assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#">Recuperar contraseña</a></li>
                <li><a class="login scrollto" href="/">Volver al inicio</a></li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<div class="container pb-4">
    <form class="needs-validation" action="/passwordRecovery/2" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ token }}">
        <h2 class="h2">Pregunta de seguridad</h2>
        {{ #error }}
        <div class="alert alert-error">
            La respuesta de seguridad <strong>no coincide</strong>.
        </div>
        {{ /error }}
        <!-- Question field -->
        <input type="hidden" value="{{ licenseId }}" id="licenseId" name="licenseId">
        <div class="wrap-input100alt">
            <span class="txt1">Pregunta: </span>
            <div class="txt2">
                <span>{{ securityQuestion }}</span>
            </div>
        </div>
        <label class="txt1" for="securityAnswer">Respuesta<span class="asterisk">*</span></label>
        <input class="form-control" id="securityAnswer" name="securityAnswer" required type="text">
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>
        <div class="container-login100-form-btn mt-2">
            <button class="btn btn-corporative" type="submit">Continuar</button>
        </div>
    </form>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/validationScript.js"></script>
</body>
</html>