<div class="container pb-3" >
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <img alt="" src="/assets/img/hero-img.png">
                    <img alt="" src="/assets/img/errors/500.png">
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-12"> <h3>No me han entrenado para esto. Vuelve a intentar la petici&oacute;n.</h3></div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
