<ng-template #loading>
    <div class="alert alert-secondary">
        <i class="fas fa-spin fa-circle-notch"></i> Cargando...
    </div>
</ng-template>
<ng-container *ngIf="loadedPage===true; else loading">
    <div class="row pt-3">
        <div class="col-md-10">
            <h2 class="h2">Noticias</h2>
        </div>
        <div class="col-md-2">
            <a [routerLink]="['/admin/posts/new']" class="btn btn-corporative">
                <i class="fa fa-plus-circle"></i> Nueva noticia
            </a>
        </div>
    </div>
    <div class="responsiveTable" id="table">
        <div class="rtRow rtHeader">
            <div class="width5 text-center">Id.</div>
            <div class="width40 text-center">Título</div>
            <div class="width15 text-center">Fecha</div>
            <div class="width25 text-center">Autor</div>
            <div class="width15 text-center">Acciones</div>
        </div>
        <div *ngFor="let post of posts; let p = index" class="rtRow">
            <div class="width5 text-center">{{ post.idPost}}</div>
            <div class="width40">{{ post.title }}</div>
            <div class="width15 text-center">{{ post.timestamp | date: 'dd/MM/yyyy'}}</div>
            <div class="width25 text-center">{{ post.author.name }}</div>
            <div class="width15 text-center">
                <a class="btn btn-outline-corporative" routerLink="/news/{{ post.idPost }}" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                </a>
                <a [routerLink]="['/admin/posts/', post.idPost]" class="btn btn-outline-corporative">
                    <i class="fas fa-pencil"></i>
                </a>
                <button class="btn btn-corporative">
                    <i (click)="open(p,content)" class="fas fa-trash-alt delete"></i>
                </button>
            </div>
        </div>
        <div *ngIf="loadedButton===false">
            <div *ngIf="empty===true" class="alert alert-danger" role="alert">
                No hay más competiciones.
            </div>
        </div>
    </div>
    <div class="width100 pt-2 text-center">
        <button (click)="loadNextPage()" *ngIf="finalPage===false" class="btn btn-corporative" data-role="post"
                id="loadNextPage">
            <i *ngIf="loadedButton===false" class="fas fa-circle-notch fa-spin"></i><i *ngIf="loadedButton===true"></i>Cargar
            más noticias
        </button>
        <button [disabled]="finalPage" *ngIf="finalPage===true" class="btn btn-outline-corporative" data-role="post">
            <i></i> No hay más noticias
        </button>
    </div>
</ng-container>

<!-- Modal for confirmating deleting of item in list -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
    </div>
    <div class="modal-body">
        ¿Seguro de que desea continuar?
    </div>
    <div class="modal-footer">
        <button (click)="modal.dismiss('Cross Click')" aria-label="Close" class="btn btn-outline-secondary" type="button">
            <i class="fas fa-times-circle"></i> Cancelar
        </button>
        <button (click)="[modal.dismiss(), deletePost()]" class="btn btn-danger" type="button">
            <i class="fas fa-trash-alt"></i> Eliminar
        </button>
    </div>
</ng-template>
