<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Editar perfil - Juding</title>

    <!-- Favicons -->
    <link href="/assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/all.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/bootstrapAccomodations.css" rel="stylesheet">
    <link href="/assets/css/loginAndRegistration.css" rel="stylesheet">
    <link href="/assets/css/profiles.css" rel="stylesheet">
    <link href="/assets/css/responsiveTable.css" rel="stylesheet">
</head>
<body>
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html">
            <img alt="" src="/assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="index.html">Inicio</a></li>
                <li><a class="nav-link scrollto" href="ranking.html">Ranking</a></li>
                <li><a class="nav-link scrollto active" href="viewProfile.html">Mi perfil</a></li>
                <li><a class="login scrollto" href="/index.html">Cerrar sesión</a></li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<div class="container">
    <span class="profileModificationsTitle">
        Modifica tus datos
    </span>
    <form action="editProfile.html" class="needs-validation flex-sb flex-w" method="post" novalidate>
        <input type="hidden" name="licenseId" value="{{ user.licenseId }}">
        <div class="px-2">
            <h3 class="h3">Información para competición</h3>
            <div class="responsiveTable">
                <div class="rtRow">
                    <div class="width40"><label for="beltSelector">Cinturón</label></div>
                    <div class="width60">
                        <div class="beltSelector">
                            <select class="form-select" id="beltSelector" name="beltSelector" required>
                                <option>Selecciona tu cinturón</option>
                                <option value="B">Blanco</option>
                                <option value="BA">Blanco-Amarillo</option>
                                <option value="A">Amarillo</option>
                                <option value="AN">Amarillo-Naranja</option>
                                <option value="Na">Naranja</option>
                                <option value="NaV">Naranja-Verde</option>
                                <option selected value="V">Verde</option>
                                <option value="VA">Verde-Azul</option>
                                <option value="Az">Azul</option>
                                <option value="AzM">Azul-Marrón</option>
                                <option value="M">Marrón</option>
                                <option value="N">Negro</option>
                            </select>
                            <div id="danField">
                                <label for="dan">Dan</label>
                                <input class="form-control" id="dan" max="10" min="1" name="dan" required type="number">
                            </div>
                            <div class="invalid-feedback">
                                Es obligatorio seleccionar un cinturón.
                            </div>
                        </div>
                    </div>
                </div>
                {{ #isCompetitor }}
                <div class="rtRow">
                    <div class="width40">
                        <label for="gym">Gimnasio</label>
                    </div>
                    <div class="width60">
                        <input class="form-control" id="gym" name="gym" required type="text" value="{{ user.gym }}">
                        <div class="invalid-feedback">
                            El gimnasio no puede estar vacío.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="weight">Peso</label></div>
                    <div class="width60">
                        <input class="form-control" id="weight" name="weight" pattern="^[1-9][0-9]+$" required
                               type="number" value="{{ user.weight }}">
                        <div class="invalid-feedback">
                            El peso no puede estar vacío.
                        </div>
                    </div>
                </div>
                {{ /isCompetitor }}{{ ^isCompetitor }}
                <div class="rtRow">
                    <div class="width40">
                        <label for="refereeRange">Rango</label>
                    </div>
                    <div class="width60">
                        <select class="form-select" id="refereeRange" name="refereeRange" required>
                            <option>Selecciona tu rango</option>
                            <option value="1" selected>Árbitro estándar</option>
                            <option value="2">Árbitro de competición</option>
                            <option value="3">Árbitro auxiliar</option>
                        </select>
                        <div class="invalid-feedback">
                            Es obligatorio seleccionar algún rango.
                        </div>
                    </div>
                </div>
                {{ /isCompetitor }}
            </div>
        </div>
        <div class="px-2 mt-3">
            <h3 class="h3">Mi información personal</h3>
            <div class="responsiveTable">
                <div class="rtRow">
                    <div class="width40"><label for="nick">Apodo</label></div>
                    <div class="width60">
                        <input class="form-control" id="nick" name="nick" required type="text" value="{{ user.nickname }}">
                        <div class="invalid-feedback">
                            El apodo no puede estar vacío.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="phone">Teléfono</label></div>
                    <div class="width60">
                        <input class="form-control" id="phone" name="phone" pattern="(?=.*\d).{9}" type="text"
                               value="{{ user.phone }}">
                        <div class="invalid-feedback">
                            El teléfono no verifica el formato requerido.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="email">Correo electrónico</label></div>
                    <div class="width60">
                        <input class="form-control" id="email" name="email" required type="email"
                               value="{{ user.email }}">
                        <div class="invalid-feedback">
                            El correo electrónico no verifica el formato requerido.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="image">Imagen de perfil</label></div>
                    <div class="width60">
                        <input class="form-control" id="image" name="image" type="file">
                        <div class="invalid-feedback">
                            Prueba de nuevo a subir la imagen.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-login100-form-btn">
            <button class="btn btn-corporative" type="submit">Guardar cambios</button>
        </div>
    </form>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/formControl.js"></script>
<script src="/assets/js/validationScript.js"></script>
</body>
</html>