{{ >header }}
<div class="container">
    <span class="profileModificationsTitle">
        Modifica tus datos
    </span>
    <form action="/myProfile/edit" class="needs-validation flex-sb flex-w juding-form-user" method="post" enctype="multipart/form-data" novalidate>
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <input type="hidden" name="licenseId" id="licenceId" value="{{ user.licenseId }}">
        <div class="px-2">
            <h3 class="h3">Información para competición</h3>
            <div class="responsiveTable">
                <div class="rtRow">
                    <div class="width40"><label for="beltSelector">Cinturón</label></div>
                    <div class="width60">
                        <div class="beltSelector">
                            <select class="form-select" id="beltSelector" name="beltSelector" required>
                                {{{ beltSelector }}}
                            </select>
                        </div>
                    </div>
                </div>
                {{ #isCompetitor }}
                <div class="rtRow">
                    <div class="width40">
                        <label for="gym">Gimnasio</label>
                    </div>
                    <div class="width60">
                        <input class="form-control" id="gym" name="gym" required type="text" value="{{ user.gym }}">
                        <div class="invalid-feedback">
                            El gimnasio no puede estar vacío.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="weight">Peso</label></div>
                    <div class="width60">
                        <input class="form-control" id="weight" name="weight" pattern="^[1-9][0-9]+$" required
                               type="number" value="{{ user.weight }}">
                        <div class="invalid-feedback">
                            El peso no puede estar vacío.
                        </div>
                    </div>
                </div>
                {{ /isCompetitor }}{{ ^isCompetitor }}
                <div class="rtRow">
                    <div class="width40">
                        <label for="refereeRange">Rango</label>
                    </div>
                    <div class="width60">
                        <select class="form-select" id="refereeRange" name="refereeRange" required>
                            {{{ refereeRangeSelector }}}
                        </select>
                        <div class="invalid-feedback">
                            Es obligatorio seleccionar algún rango.
                        </div>
                    </div>
                </div>
                {{ /isCompetitor }}
            </div>
        </div>
        <div class="px-2 mt-3">
            <h3 class="h3">Mi información personal</h3>
            <div class="responsiveTable">
                <div class="rtRow">
                    <div class="width40"><label for="nickname">Apodo</label></div>
                    <div class="width60">
                        <input class="form-control" id="nickname" name="nickname" required type="text"
                               value="{{ user.nickname }}">
                        <div class="invalid-feedback">
                            El apodo no puede estar vacío.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="phone">Teléfono</label></div>
                    <div class="width60">
                        <input class="form-control" id="phone" name="phone" pattern="(?=.*\d).{9}" type="text"
                               value="{{#user.phone}}{{ user.phone }}{{/user.phone}}">
                        <div class="invalid-feedback">
                            El teléfono no verifica el formato requerido.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="email">Correo electrónico</label></div>
                    <div class="width60">
                        <input class="form-control" id="email" name="email" required type="email"
                               value="{{ user.email }}">
                        <div class="invalid-feedback">
                            El correo electrónico no verifica el formato requerido.
                        </div>
                    </div>
                </div>
                <div class="rtRow">
                    <div class="width40"><label for="image">Imagen de perfil</label></div>
                    <div class="width60">
                        <input class="form-control" id="image" name="image" type="file" accept="image/jpeg">
                        <div class="invalid-feedback">
                            Prueba de nuevo a subir la imagen en formato ".jpg".
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-login100-form-btn">
            <button class="btn btn-corporative" type="submit">Guardar cambios</button>
        </div>
    </form>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/formControl.js"></script>
<script src="/assets/js/validationScript.js"></script>
</body>
</html>