{{ >header }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="h1">Mi perfil</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <a href="/myProfile/edit">
                <button class="btn btn-corporative"><i class="far fa-pencil"></i> Editar perfil</button>
            </a>
        </div>
    </div>
    <div class="row d-flex flex-column align-items-center text-center">
        <img class="bigAvatar" src="/image/user/{{ user.licenseId }}" alt="avatar">
        <div>
            <span class="nombre">{{ user.name }}</span>&nbsp;<span class="apellidos">{{ user.surname }}</span>
        </div>
        <div>
            <span class="nick">{{ user.nickname }}</span>
        </div>
        <div>
            <span class="badge bg-secondary biggerText">{{ #isCompetitor }}Competidor{{ /isCompetitor }}{{ ^isCompetitor }}Árbitro{{ /isCompetitor }}</span>
        </div>
    </div>
    <br>
    <div class="px-2">
        <h3>Información para competición</h3>
        <div class="responsiveTable">
            <div class="rtRow">
                <div class="width40">Número de licencia</div>
                <div class="width60">{{ user.licenseId }}</div>
            </div>
            <div class="rtRow">
                <div class="width40">Cinturón</div>
                <div class="width60">{{ beltValue }}</div>
            </div>
            {{ #isCompetitor }}
            <div class="rtRow">
                <div class="width40">Gimnasio</div>
                <div class="width60">{{ user.gym }}</div>
            </div>
            <div class="rtRow">
                <div class="width40">Peso</div>
                <div class="width60">{{ user.weight }} kg</div>
            </div>
            {{ /isCompetitor }}{{ ^isCompetitor }}
            <div class="rtRow">
                <div class="width40">Rango</div>
                <div class="width60">{{ user.refereeRange.getDescription }}</div>
            </div>
            {{ /isCompetitor }}
        </div>
    </div>
    <div class="px-2 mt-3">
        <h3>Mi información personal</h3>
        <div class="responsiveTable">
            <div class="rtRow">
                <div class="width40">DNI</div>
                <div class="width60">{{ user.dni }}</div>
            </div>
            <div class="rtRow">
                <div class="width40">Género</div>
                <div class="width60">{{ #isMale }}Hombre{{ /isMale }}{{ ^isMale }}Mujer{{ /isMale }}</div>
            </div>
            {{#user.phone}}
            <div class="rtRow">
                <div class="width40">Teléfono</div>
                <div class="width60">{{ user.phone }}</div>
            </div>
            {{/user.phone}}
            <div class="rtRow">
                <div class="width40">Correo electrónico</div>
                <div class="width60">{{ user.email }}</div>
            </div>
            <div class="rtRow">
                <div class="width40">Fecha de nacimiento</div>
                <div class="width60">{{ user.getFormattedBirthDate }}</div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
</body>
</html>