<div class="container-login100">
  <div class="wrap-login100">
    <form class="needs-validation flex-sb flex-w" method="post" novalidate (submit)="formLogin($event)">
      <span class="login100-form-title">Iniciar sesión</span>
      <label class="txt1" for="nickname">Apodo <span class="asterisk">*</span></label>
      <input class="form-control form-control-lg" id="nickname" name="nickname" required type="text" [(ngModel)]="loginForm.nickname">
      <div class="invalid-feedback">
        Es obligatorio introducir el apodo para continuar.
      </div>
      <label class="txt1" for="password">Contraseña <span class="asterisk">*</span></label>
      <div class="input-group">
        <input class="form-control form-control-lg" id="password" name="password" required type="password" [(ngModel)]="loginForm.password">
        <span class="input-group-text" id="showPassword"><i class="far fa-eye-slash"></i></span>
        <div class="invalid-feedback">
          Es obligatorio introducir la contraseña para continuar.
        </div>
      </div>
      <div id="beforeLogin">
        <a class="txt3" href="/passwordRecovery/1">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="container-login100-form-btn">
        <button class="btn btn-corporative">Iniciar sesión</button>
      </div>
    </form>
    <div id="newAccount">
      <div class="row text-center">
        <div class="alert alert-corporative">¿Nuevo en Juding? <strong>¡Regístrate!</strong></div>
      </div>
      <div class="row text-center">
        <div class="col-6 d-flex justify-content-center flex-column">
          <i class="fas fa-user-ninja bigIcon"></i>
          <div>Competidor</div>
          <a href="/signUp/competitor">
            <button class="btn btn-corporative">Registro</button>
          </a>
        </div>
        <div class="col-6">
          <i class="fas fa-user-tie bigIcon"></i>
          <div>Árbitro</div>
          <a href="/signUp/referee">
            <button class="btn btn-corporative">Solicitud</button>
          </a></div>
      </div>
    </div>
  </div>
</div>
