body {
    background: url('https://www.sportlife.es/uploads/s1/75/91/45/4/5f0b58810ee694110c8fe159-el-combate-del-judo-contra-el-covid.jpeg') no-repeat center center;
    background-size: 105% 105%
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.avatar > img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

.nombre {
    font-weight: 500;
    font-size: 2em;
}

.apellidos {
    font-weight: 700;
    font-size: 2em;
}

.nick {
    font-weight: 400;
    font-size: 1.5em;
}

.biggerText {
    font-size: 1.1em;
    color: white; /* Advertencia: esto lo debería poner Bootstrap pero no lo está poniendo y no sé por qué */
}