{{{header}}}
<div class="container pb-4">
    <form action="/admin/user/edit/save" class="needs-validation flex-sb flex-w juding-form-user" method="post" novalidate
          enctype="multipart/form-data">

        <input type="hidden" name="_csrf" value="{{token}}"/>

        <h2 class="h2">Edición de usuarios</h2>
        <h3 class="h3">Información personal</h3>

        <!-- Name and Surname fields -->
        <div class="row">
            <div class="col-md-6">
                <label class="txt1" for="name">Nombre <span class="asterisk">*</span></label>
                <input class="form-control" id="name" name="name" required type="text" value="{{ user.name }}">
                <div class="invalid-feedback">
                    El campo no puede estar vacío.
                </div>
            </div>
            <div class="col-md-6">
                <label class="txt1" for="surname">Apellidos <span class="asterisk">*</span></label>
                <input class="form-control" id="surname" name="surname" required type="text" value="{{ user.surname }}">
                <div class="invalid-feedback">
                    El campo no puede estar vacío.
                </div>
            </div>
        </div>

        <!-- Gender radio selection -->
        <span class="txt1">Género <span class="asterisk">*</span></span>
        {{{ genderSelection }}}

        <div class="row">
            <div class="col-md-6">
                <!-- Phone field -->
                <label class="txt1" for="phone">Teléfono</label>
                <input class="form-control" id="phone" name="phone" pattern="(?=.*\d).{9}" type="text"
                       value="{{#user.phone}}{{ user.phone }}{{/user.phone}}">
                <div class="invalid-feedback">
                    El teléfono debe contener 9 dígitos.
                </div>
            </div>
            <div class="col-md-6">
                <!-- Email field -->
                <label class="txt1" for="email">Correo electrónico <span class="asterisk">*</span></label>
                <input class="form-control" id="email" name="email" required type="email" value="{{ user.email }}">
                <div class="invalid-feedback">
                    El correo electrónico no tiene el formato adecuado.
                </div>
            </div>
        </div>

        <!-- Birth date field -->
        <label class="txt1" for="birthDate">Fecha de nacimiento <span class="asterisk">*</span></label>
        <input class="form-control" id="birthDate" name="birthDate" required type="text"
               value="{{ user.getFormattedBirthDate }}">
        <div class="invalid-feedback">
            La fecha de nacimiento es obligatoria y debe introducirse en formato dd/mm/yyyy.
        </div>

        <!-- DNI -->
        <label class="txt1" for="dni">DNI <span class="asterisk">*</span></label>
        <input class="form-control" id="dni" name="dni" pattern="^([0-9]{8}|[XYZ][0-9]{7})[A-Z]{1}$" required
               type="text" data-role="{{#isCompetitor}}Competitor{{/isCompetitor}}{{^isCompetitor}}Referee{{/isCompetitor}}" value="{{ user.dni }}">
        <div class="invalid-feedback">
            El DNI no sigue el formato requerido (ejemplo: 12345678Z).
        </div>

        <h3 class="h3 mt-2">Información de autenticación</h3>
        <!-- License ID -->
        <label class="txt1" for="licenseId">Número de licencia</label>
        <input class="form-control" id="licenseId" name="licenseId" type="text" value="{{ user.licenseId }}" readonly
               pattern="{{ #isCompetitor }}[0-9]{10}${{ /isCompetitor }}{{ ^isCompetitor }}JU-[0-9]{10}${{ /isCompetitor }}">
        <div class="invalid-feedback">
            La licencia no se ajusta al formato requerido (10 dígitos {{ ^isCompetitor }}precedidos de JU-{{
            /isCompetitor }}).
        </div>

        <!-- Nickname field -->
        <label class="txt1" for="nickname">Apodo <span class="asterisk">*</span></label>
        <input class="form-control" id="nickname" name="nickname" required type="text" value="{{ user.nickname }}">
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>

        <h3 class="h3">Información para competición</h3>

        <!-- Belt selector -->
        <label class="txt1" for="belt">Cinturón <span class="asterisk">*</span></label>
        <select name="belt" id="belt" class="form-select" required>
            <option selected disabled>Seleccione un cinturón...</option>
            {{{ beltSelector }}}
        </select>
        <div class="invalid-feedback">
            El cinturón es obligatorio.
        </div>

        {{ #isCompetitor }}
        <div class="row">
            <div class="col-md-6">
                <!-- Gym -->
                <label class="txt1" for="gym">Gimnasio <span class="asterisk">*</span></label>
                <input class="form-control" id="gym" name="gym" required type="text" value="{{ user.gym }}">
                <div class="invalid-feedback">
                    El gimnasio es obligatorio.
                </div>
            </div>
            <div class="col-md-6">
                <!-- Weight -->
                <label class="txt1" for="weight">Peso <span class="asterisk">*</span></label>
                <input class="form-control" id="weight" name="weight" pattern="^[1-9][0-9]+$" type="number" required value="{{ user.weight }}">
                <div class="invalid-feedback">
                    El peso es obligatorio.
                </div>
            </div>
        </div>
        {{ /isCompetitor }}{{ ^isCompetitor }}
        <label class="txt1" for="refereeRange">Rango <span class="asterisk">*</span></label>
        <select class="form-select" id="refereeRange" name="refereeRange" required>
            {{{ refereeRangeSelector }}}
        </select>
        <div class="invalid-feedback">
            Es obligatorio seleccionar algún rango.
        </div>
        {{ /isCompetitor }}

        <div class="container-login100-form-btn mt-2">
            <button class="btn btn-corporative" type="submit">Actualizar datos</button>
        </div>
    </form>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.es.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/formControl.js"></script>
<script src="/assets/js/validationScript.js"></script>
</body>
</html>