{{>header}}
<div class="container pb-3">
    <h2 class="h2">Usuarios</h2>
    {{ #competitors }}
    <h3 class="h3">Competidores</h3>
    {{ /competitors }}
    {{ ^competitors }}
    <h3 class="h3">Solicitudes de federación de nuevos árbitros</h3>
    {{ #pendingApplications }}
    <div class="responsiveTable mb-3">
        <div class="rtRow rtHeader">
            <div class="width10 text-center">Rol</div>
            <div class="width15 text-center">Licencia</div>
            <div class="width15 text-center">Nick</div>
            <div class="width10 text-center">Nombre</div>
            <div class="width15 text-center">Apellidos</div>
            <div class="width20 text-center">Correo Electrónico</div>
            <div class="width15 text-center">Acciones</div>
        </div>
        {{ #pendingList }}
        <div class="rtRow">
            <div class="width10 text-center">
                <i class="fas fa-user-tie beltStyle {{ belt }}"></i> ({{ belt.name }})
            </div>
            <div class="width15 text-center">{{ licenseId }}</div>
            <div class="width15 text-center">{{ nickname }}</div>
            <div class="width10 text-center">{{ name }}</div>
            <div class="width15 text-center">{{ surname }}</div>
            <div class="width20 text-center">{{ email }}</div>
            <div class="width15 text-center">
                <button class="btn btn-outline-corporative" data-bs-target="#modalProfile" data-bs-toggle="modal">
                    <i class="fas fa-info-circle"></i>
                </button>
                <a href="/admin/user/admitReferee/{{ licenseId }}" class="btn btn-outline-success">
                    <i class="fas fa-check"></i>
                </a>
                <a href="/admin/user/delete/{{ licenseId }}" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="viewMore" style="display: none">
                <div class="col-12 col-lg-4 text-center px-3">
                    <img alt="avatar" class="avatar" src="/image/user/{{ licenseId }}">
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">{{ nickname }}</h5>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-2x beltStyle {{ belt }} {{ #competitors }}fa-user-ninja{{ /competitors }}{{ ^competitors }}fa-user-tie{{ /competitors }}"></i>
                            </div>
                        </div>
                        <div class="card-text text-start">
                            {{ name }} <strong>{{ surname }}</strong><br>
                            <strong>Licencia:</strong> {{ licenseId }}.<br>
                            <strong>DNI:</strong> {{ dni }}.<br>
                            <strong>Correo Electrónico:</strong> {{ email }}.<br>
                            {{#phone}}<strong>Teléfono:</strong> {{ phone }}.<br>{{/phone}}
                            <strong>Género:</strong> {{ gender.getDescription }}.<br>
                            <strong>Fecha de nacimiento:</strong> {{ getFormattedBirthDate }}.<br>
                            <strong>Rango:</strong> {{ refereeRange.getDescription }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ /pendingList }}
    </div>
    {{ /pendingApplications }}{{ ^pendingApplications }}
    <div class="alert alert-corporative mb-2">No hay nuevas solicitudes pendientes de revisión.</div>
    {{ /pendingApplications }}
    <h3 class="h3">Árbitros</h3>
    {{ /competitors }}
    {{ #empty }}
    <div class="alert alert-corporative">
        No hay usuarios registrados de este rol.
    </div>
    {{ /empty }}{{ ^empty }}
    <div class="responsiveTable" id="table">
        <div class="rtRow rtHeader">
            <div class="width10 text-center">Rol</div>
            <div class="width15 text-center">Licencia</div>
            <div class="width15 text-center">Nick</div>
            <div class="width10 text-center">Nombre</div>
            <div class="width15 text-center">Apellidos</div>
            <div class="width20 text-center">Correo Electrónico</div>
            <div class="width15 text-center">Acciones</div>
        </div>
        {{ #userPage }}
        <div class="rtRow">
            <div class="width10 text-center">
                <i class="fas beltStyle {{ belt }} {{ #competitors }}fa-user-ninja{{ /competitors }}{{ ^competitors }}fa-user-tie{{ /competitors }}"></i>
                ({{ belt.name }})
            </div>
            <div class="width15 text-center">{{ licenseId }}</div>
            <div class="width15 text-center">{{ nickname }}</div>
            <div class="width10 text-center">{{ name }}</div>
            <div class="width15 text-center">{{ surname }}</div>
            <div class="width20 text-center">{{ email }}</div>
            <div class="width15 text-center">
                <button class="btn btn-outline-corporative" data-bs-target="#modalProfile" data-bs-toggle="modal">
                    <i class="fas fa-info-circle"></i>
                </button>
                <a href="/admin/user/edit/{{ licenseId }}" class="btn btn-outline-corporative">
                    <i class="fas fa-pencil"></i>
                </a>
                <button class="btn btn-corporative" data-bs-target="#modalDelete" data-bs-toggle="modal"
                        data-id="{{ licenseId }}" data-type="user">
                    <i class="fas fa-trash-alt delete"></i>
                </button>
            </div>
            <div class="viewMore" style="display: none">
                <div class="col-12 col-lg-4 text-center px-3">
                    <img alt="avatar" class="avatar" src="/image/user/{{ licenseId }}">
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">{{ nickname }}</h5>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-2x beltStyle {{ belt }} {{ #competitors }}fa-user-ninja{{ /competitors }}{{ ^competitors }}fa-user-tie{{ /competitors }}"></i>
                            </div>
                        </div>
                        <div class="card-text text-start">
                            {{ name }} <strong>{{ surname }}</strong><br>
                            <strong>Licencia:</strong> {{ licenseId }}.<br>
                            <strong>DNI:</strong> {{ dni }}.<br>
                            <strong>Correo Electrónico:</strong> {{ email }}.<br>
                            {{#phone}}<strong>Teléfono:</strong> {{ phone }}.<br>{{/phone}}
                            <strong>Género:</strong> {{ gender.getDescription }}.<br>
                            <strong>Fecha de nacimiento:</strong> {{ getFormattedBirthDate }}.<br>
                            {{ #competitors }}
                            <strong>Gimnasio:</strong> {{ gym }}.<br>
                            <strong>Peso:</strong> {{ weight }}kg.
                            {{ /competitors }}{{ ^competitors }}
                            <strong>Rango:</strong> {{ refereeRange.getDescription }}.
                            {{ /competitors }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ /userPage }}
    </div>
    <div class="pt-2 text-center">
        {{ #morePages }}
        <button data-role="{{ #competitors }}competitors{{ /competitors }}{{ ^competitors }}referees{{ /competitors }}"
                id="loadNextPage" class="btn btn-corporative" data-numpage="1" data-totalpages="{{ totalPages }}">
            <i></i> Cargar más usuarios
        </button>
        {{ /morePages }}{{ ^morePages }}
        <button class="btn btn-outline-corporative" disabled>No hay más ítems</button>
        {{ /morePages }}
    </div>
    {{ /empty }}
</div>


<!-- Modal for profiles info (dynamically filled with info when opening thanks to JS) -->
<div class="modal fade" id="modalProfile" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpenedTitle"></h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="card mb-3">
                            <div class="row g-0" id="modalOpenedBody"></div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for confirmating deleting of item in list -->
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-info"><strong>Advertencia:</strong> Solo se garantiza el correcto borrado de un
                    usuario en caso de que no haya participado en ninguna competición o no sea autor de ninguna
                    publicación.
                </div>
                ¿Seguro de que desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times-circle"></i> Cancelar
                </button>
                <a href="" id="modalDeleteLink">
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/tinymce/js/tinymce/tinymce.min.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/adminScreens.js"></script>
</body>
</html>