{{>header}}
<div class="container pb-4">
    <form action="/admin/competition/edit" class="needs-validation flex-sb flex-w juding-form-competition" method="post"
          enctype="multipart/form-data" novalidate>
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <h2 class="h2">Formulario competición</h2>

        <h3 class="h3">Información de la competición</h3>
        {{#competition}}
        <!-- Competition ID -->
        <label class="txt1" for="idCompetition" style="display:none">Número de identificación de la competición <span
                class="asterisk">*</span></label>
        <input class="form-control" id="idCompetition" name="idCompetition" pattern="[0-9]{10}$" required type="hidden"
               value="{{competition.idCompetition}}">
        <div class="invalid-feedback">
            La identificación de la competición no se ajusta al formato requerido (10 dígitos).
        </div>

        <!-- Competition name -->
        <label class="txt1" for="shortName">Nombre de la competición <span class="asterisk">*</span></label>
        <input class="form-control" id="shortName" name="shortName" required type="text"
               value="{{competition.shortName}}">
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>

        <!-- Competition additional info -->
        <label class="txt1" for="additionalInfo">Información sobre la competición
            <span class="asterisk">*</span></label>
        <textarea id="additionalInfo" name="additionalInfo" required rows="20">{{competition.additionalInfo}}</textarea>
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>

        <!-- Max weight and min wight fields -->
        <div class="row">
            <div class="col-lg-6 minWeight">
                <label class="txt1" for="minWeight">Peso mínimo <span class="asterisk">*</span></label>
                <input class="form-control" id="minWeight" name="minWeight" required type="text" pattern="[0-9]{0,3}$"
                       value="{{competition.minWeight}}">
                <div class="invalid-feedback">
                    El peso no se ajusta al formato requerido (mínimo 1 dígito y máximo 3 dígitos).
                </div>
            </div>
            <div class="col-lg-6">
                <label class="txt1" for="maxWeight">Peso máximo <span class="asterisk">*</span></label>
                <input class="form-control" id="maxWeight" name="maxWeight" required type="text" pattern="[0-9]{0,3}$"
                       value="{{competition.maxWeight}}">
                <div class="invalid-feedback">
                    El peso no se ajusta al formato requerido (mínimo 1 dígito y máximo 3 dígitos).
                </div>
            </div>
        </div>

        <!-- LicenseId of the referee -->
        <label class="txt1" for="referee">Número de licencia del árbitro encargado de la competición
            <span class="asterisk">*</span></label>
        <select name="referee" id="referee" class="form-select" required>
            {{{ refereeList }}}
        </select>
        <div class="invalid-feedback">
            La licencia no se ajusta al formato JU-(10 dígitos).
        </div>

        <!-- Start date and end date of a competition fields -->
        <div class="row mb-4">
            <div class="col-lg-6 startDate">
                <label class="txt1" for="startDate">Fecha de inicio de la competición <span
                        class="asterisk">*</span></label>
                <input class="form-control" id="startDate" name="startDate" required type="text"
                       value="{{competition.getFormattedStartDate}}"
                       pattern="([0-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/2[0-9]{3} [0-2][0-9]:[0-5][0-9]">
                <div class="invalid-feedback">
                    La fecha del inicio de la competición es obligatoria y debe introducirse en formato dd/mm/yyyy
                    HH:mm.
                </div>
            </div>
            <div class="col-lg-6">
                <label class="txt1" for="endDate">Fecha del final de la competición <span
                        class="asterisk">*</span></label>
                <input class="form-control" id="endDate" name="endDate" required type="text"
                       value="{{competition.getFormattedEndDate}}">
                <div class="invalid-feedback">
                    La fecha del final de la competición es obligatoria y debe introducirse en formato dd/mm/yyyy HH:mm.
                </div>
            </div>
        </div>

        <div class="container-login100-form-btn text-center">
            <button class="btn btn-corporative" type="submit">Actualizar datos</button>
        </div>
        {{/competition}}
    </form>
</div>
<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.es.js"></script>
<script src="/assets/vendor/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/chosen/chosen.jquery.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/adminScreens.js"></script>
<script src="/assets/js/formControl.js"></script>
<script src="/assets/js/validationScript.js"></script>
</body>
</html>