{{ #competitionPage }}
<div class="rtRow">
    <div class="width5 text-center">{{ idCompetition}}</div>
    <div class="width25 text-center">{{ shortName}}</div>
    <div class="width20 text-center">{{ referee.getName}} {{ referee.getSurname}}</div>
    <div class="width20 text-center">{{ getFormattedStartDate}}<br>{{ getFormattedEndDate}}</div>
    <div class="width10 text-center">{{ minWeight}}kg a {{ maxWeight}}kg</div>
    <div class="width20 text-center">
        <button class="btn btn-outline-corporative" data-bs-target="#modalProfile" data-bs-toggle="modal">
            <i class="fas fa-info-circle"></i>
        </button>
        <a href="/admin/competition/edit/{{idCompetition}}" class="btn btn-outline-corporative">
            <i class="fas fa-pencil"></i>
        </a>
        <button class="btn btn-corporative" data-bs-target="#modalDelete" data-bs-toggle="modal"
                data-id="{{ idCompetition }}" data-type="competition">
            <i class="fas fa-trash-alt delete"></i>
        </button>
    </div>
    <div class="viewMore" style="display: none">
        <div class="card-body">
            <h5 class="card-title">{{shortName}}</h5>
        </div>
        <div class="card-text text-start m-2">
            <strong>Árbitro encargado:</strong> {{referee.getName}} {{referee.getSurname}}<br>
            <strong>Asistencia del árbitro:</strong> {{refereeStatus}}<br>
            <strong>Peso mínimo:</strong> {{minWeight}}kg<br>
            <strong>Peso máximo:</strong> {{maxWeight}}kg <br>
            <strong>Fecha de inicio</strong> {{getFormattedStartDate}} <br>
            <strong>Fecha del final:</strong> {{getFormattedEndDate}} <br>
        </div>
    </div>
</div>
{{ /competitionPage }}