<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lista de competiciones - Juding</title>

    <!-- Favicons -->
    <link href="/assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/all.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/bootstrapAccomodations.css" rel="stylesheet">
    <link href="/assets/css/responsiveTable.css" rel="stylesheet">
    <link href="/assets/css/adminScreen.css" rel="stylesheet">
</head>
<body>
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html">
            <img alt="" src="/assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/myHome">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/ranking">Ranking</a></li>
                <li><a class="nav-link scrollto" href="/myProfile">Mi perfil</a></li>
                <li class="dropdown">
                    <a href="#"><span>Administración</span> <i class="far fa-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>Usuarios</span> <i class="far fa-chevron-right"></i></a>
                            <ul>
                                <li><a href="/admin/user/list/competitors">Competidores</a></li>
                                <li><a href="/admin/user/list/referees">Árbitros</a></li>
                            </ul>
                        <li><a href="/admin/competition/list">Competiciones</a></li>
                        <li><a href="/admin/post/list">Noticias</a></li>
                    </ul>
                </li>
                <li>
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="{{ token }}">
                        <button class="login scrollto">Cerrar sesión</button>
                    </form>
                </li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<div class="container pb-3">
    <div class="row pt-3">
        <div class="col-md-10">
            <h2 class="h2">Competiciones</h2>
        </div>
        <div class="col-md-2">
            <a href="/admin/competition/newCompetition">
                <button class="btn btn-corporative"><i class="fa fa-plus-circle"></i> Nueva competición</button>
            </a>
        </div>
    </div>
    {{ #empty }}
    <div class="alert alert-corporative">
        No hay competiciones registradas.
    </div>
    {{ /empty }}{{ ^empty }}
    <div class="responsiveTable" id="table">
        <div class="rtRow rtHeader">
            <div class="width5 text-center">Id.</div>
            <div class="width25 text-center">Nombre de la competición</div>
            <div class="width20 text-center">Árbrito encargado</div>
            <div class="width20 text-center">Inicio y final</div>
            <div class="width10 text-center">Rango de pesos</div>
            <div class="width20 text-center">Acciones</div>
        </div>
        {{ #competitionPage }}
        <div class="rtRow">
            <div class="width5 text-center">{{ idCompetition}}</div>
            <div class="width25 text-center">{{ shortName}}</div>
            <div class="width20 text-center">{{ referee.getName}} {{ referee.getSurname}}</div>
            <div class="width20 text-center">{{ getFormattedStartDate}}<br>{{ getFormattedEndDate}}</div>
            <div class="width10 text-center">{{ minWeight}}kg a {{ maxWeight}}kg</div>
            <div class="width20 text-center">
                <button class="btn btn-outline-corporative" data-bs-target="#modalProfile" data-bs-toggle="modal">
                    <i class="fas fa-info-circle"></i>
                </button>
                <a href="/admin/competition/edit/{{idCompetition}}" class="btn btn-outline-corporative">
                    <i class="fas fa-pencil"></i>
                </a>
                <button class="btn btn-corporative" data-bs-target="#modalDelete" data-bs-toggle="modal"
                        data-id="{{ idCompetition }}" data-type="competition">
                    <i class="fas fa-trash-alt delete"></i>
                </button>
            </div>
            <div class="viewMore" style="display: none">
                <div class="card-body">
                    <h5 class="card-title">{{shortName}}</h5>
                </div>
                <div class="card-text text-start m-2">
                    <strong>Árbitro encargado:</strong> {{referee.getName}} {{referee.getSurname}}<br>
                    <strong>Asistencia del árbitro:</strong> {{refereeStatus}}<br>
                    <strong>Peso mínimo:</strong> {{minWeight}}kg<br>
                    <strong>Peso máximo:</strong> {{maxWeight}}kg <br>
                    <strong>Fecha de inicio</strong> {{getFormattedStartDate}} <br>
                    <strong>Fecha del final:</strong> {{getFormattedEndDate}} <br>
                </div>
            </div>
        </div>
        {{ /competitionPage }}
        {{ /empty }}
    </div>
    <div class="width100 pt-2 text-center">
        {{ #morePages }}
        <button data-role="competition" id="loadNextPage" class="btn btn-corporative" data-numpage="1"
                data-totalpages="{{ totalPages }}">
            <i></i> Cargar más competiciones
        </button>
        {{ /morePages }}
    </div>
</div>
<!-- Modal for posts info -->
<div class="modal fade" id="modalProfile" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpenedTitle"></h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="card mb-3">
                            <div class="row g-0" id="modalOpenedBody"></div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for confirmating deleting of item in list -->
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-info"><strong>Advertencia:</strong> Solo se garantiza el correcto borrado de una
                    competición en caso de que no haya comenzado o no se haya inscrito ningún participante.
                </div>
                ¿Seguro de que desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times-circle"></i> Cancelar
                </button>
                <a href="" id="modalDeleteLink">
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/tinymce/js/tinymce/tinymce.min.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/adminScreens.js"></script>
</body>
</html>