<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Nueva competición - Juding</title>

    <!-- Favicons -->
    <link href="/assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/all.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/bootstrapAccomodations.css" rel="stylesheet">
    <link href="/assets/css/loginAndRegistration.css" rel="stylesheet">
</head>
<body>
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="">
            <img alt="" src="/assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/ranking">Ranking</a></li>
                <li><a class="nav-link scrollto" href="/myProfile">Mi perfil</a></li>
                <li class="dropdown">
                    <a href="#"><span>Administración</span> <i class="far fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="/admin/user/list">Usuarios</a></li>
                        <li><a href="/admin/competition/list">Competiciones</a></li>
                        <li class="active"><a href="/admin/posts/list">Noticias</a></li>
                    </ul>
                </li>
                <li><a class="login scrollto" href="/index.html">Cerrar sesión</a></li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<div class="container pb-4">
    <form action="/admin/competition/newCompetition" class="needs-validation flex-sb flex-w juding-form" method="post"
          enctype="multipart/form-data"
          novalidate>
        <h2 class="h2">Formulario competición</h2>

        <h3 class="h3">Información de la competición</h3>

        <!-- Competition name -->
        <label class="txt1" for="shortName">Nombre de la competición <span class="asterisk">*</span></label>
        <input class="form-control" id="shortName" name="shortName" required type="text"
        >
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>

        <!-- Competition additional info -->
        <label class="txt1" for="additionalInfo">Información sobre la competición <span
                class="asterisk">*</span></label>
        <textarea cols="30" id="additionalInfo" name="additionalInfo" required rows="20"
        ></textarea>
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>

        <!-- Max weight and min wight fields -->
        <div class="row">
            <div class="col-lg-6 minWeight">
                <label class="txt1" for="minWeight">Peso mínimo <span class="asterisk">*</span></label>
                <input class="form-control" id="minWeight" name="minWeight" required type="text" pattern="[0-9]{0,3}$"
                >
                <div class="invalid-feedback">
                    El peso no se ajusta al formato requerido (mínimo 1 dígito y máximo 3 dígitos).
                </div>
            </div>
            <div class="col-lg-6 maxWeight">
                <label class="txt1" for="maxWeight">Peso máximo <span class="asterisk">*</span></label>
                <input class="form-control" id="maxWeight" name="maxWeight" required type="text" pattern="[0-9]{0,3}$"
                >
                <div class="invalid-feedback">
                    El peso no se ajusta al formato requerido (mínimo 1 dígito y máximo 3 dígitos).
                </div>
            </div>
        </div>

        <!-- LicenseId of the referee -->
        <label class="txt1" for="referee">Número de licencia del árbitro encargado de la competición<span
                class="asterisk">*</span></label>
        <input class="form-control" id="referee" name="referee" pattern="JU-[0-9]{10}$" required type="text"
        >
        <div class="invalid-feedback">
            La licencia no se ajusta al formato JU-(10 dígitos).
        </div>

        <!-- Referee confirmation -->
        <label class="txt1" for="refereeStatus">Asistencia del árbitro<span class="asterisk">*</span></label>
        <input class="form-control" id="refereeStatus" name="status" required type="text"
               pattern="Confirmada|Sin confirmar|Rechazada"
        >
        <div class="invalid-feedback">
            Opciones disponibles: "Confirmada" o "Sin confirmar" o "Rechazada".
        </div>

        <!-- Competition image -->
        <label class="txt1" for="imageFile">Imagen de competición</label>
        <input class="form-control" id="imageFile" name="imageFile" type="file" accept="image/jpeg">
        <div class="invalid-feedback">
            Prueba de nuevo a subir la imagen en formato ".jpg".
        </div>

        <!-- Start date and end date of a competition fields -->
        <div class="row mb-4">
            <div class="col-lg-6 startDate">
                <label class="txt1" for="startDate">Fecha de inicio de la competición <span
                        class="asterisk">*</span></label>
                <input class="form-control" id="startDate" name="startDate" required type="text"
                >
                <div class="invalid-feedback">
                    La fecha del inicio de la competición es obligatoria y debe introducirse en formato dd/mm/yyyy.
                </div>
            </div>
            <div class="col-lg-6">
                <label class="txt1" for="endDate">Fecha del final de la competición <span
                        class="asterisk">*</span></label>
                <input class="form-control" id="endDate" name="endDate" required type="text"
                >
                <div class="invalid-feedback">
                    La fecha del final de la competición es obligatoria y debe introducirse en formato dd/mm/yyyy.
                </div>
            </div>
        </div>

        <div class="container-login100-form-btn">
            <button class="btn btn-corporative" type="submit">Crear competición</button>
        </div>
    </form>
</div>
<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.es.js"></script>
<script src="/assets/vendor/tinymce/js/tinymce/tinymce.min.js"></script>


<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/formControl.js"></script>
<script src="/assets/js/validationScript.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: 'textarea#additionalInfo',
            language: 'es',
            plugins: ['fullscreen', 'lists', 'link', 'table'],
            toolbar: 'undo redo | styleselect | bold italic underline fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist | link unlink | table | fullscreen'
        });
    })
</script>

</body>
</html>