<header class="header fixed-top" id="header">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center" routerLink="/" *ngIf="mainPage !== 0">
      <img alt="" src="/assets/img/hero-img.png">
      <span>Juding</span>
    </a>
    <a class="logo d-flex align-items-center" routerLink="/myHome" *ngIf="mainPage === 0">
      <img alt="" src="/assets/img/hero-img.png">
      <span>Juding</span>
    </a>
    <nav class="navbar" id="navbar" [ngSwitch]="mainPage">
      <ul *ngSwitchCase="0">
        <li><a class="nav-link scrollto" routerLink="/myHome">Inicio</a></li>
        <li><a class="nav-link scrollto" routerLink="/ranking">Ranking</a></li>
        <li><a class="nav-link scrollto" routerLink="/myProfile">Mi perfil</a></li>
        <li class="dropdown">
          <a href="#"><span>Administración</span> <i class="far fa-chevron-down"></i></a>
          <ul>
            <li class="dropdown">
              <a href="#"><span>Usuarios</span> <i class="far fa-chevron-right"></i></a>
              <ul>
                <li><a href="/admin/user/list/competitors">Competidores</a></li>
                <li><a href="/admin/user/list/referees">Árbitros</a></li>
              </ul>
            <li><a href="/admin/competition/list">Competiciones</a></li>
            <li><a href="/admin/post/list">Noticias</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/logout" class="login scrollto">Cerrar sesión</a>
        </li>
      </ul>
      <ul *ngSwitchCase="1">
        <li><a class="nav-link scrollto" [routerLink]="['/']">Inicio</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/']" fragment="about">Sobre Nosotros</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/']" fragment="values">Valores</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/']" fragment="history">Historia</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/']" fragment="contact">Contáctanos</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/']" fragment="location">Dónde estamos</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/']" fragment="posts">Publicaciones</a></li>
        <li><a class="login scrollto" routerLink="/login">Iniciar sesión</a></li>
      </ul>
      <ul *ngSwitchCase="2">
        <li>
          <a routerLink="/" class="login scrollto">Volver al inicio</a>
        </li>
      </ul>
      <i class="far fa-bars mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
