{{{header}}}
<div class="container pb-4">
    <h2 class="h2">Creacción de una nueva noticia</h2>
    <form action="/admin/post/createNew" class="needs-validation flex-sb flex-w" method="post" enctype="multipart/form-data" novalidate>

        <input type="hidden" name="_csrf" value="{{token}}"/>

        <!-- Title -->
        <label class="txt1" for="title">Título <span class="asterisk">*</span></label>
        <input class="form-control" id="title" name="title" required type="text">
        <div class="invalid-feedback">
            Este campo no puede estar vacio.
        </div>

        <!-- Image -->

        <label class="txt1" for="image">Imagen</label>
        <input class="form-control" id="image" name="image" type="file" accept="image/jpeg, image/png">

        <!-- Body -->
        <label class="txt1" for="body">Cuerpo <span class="asterisk">*</span></label>
        <textarea cols="30" id="body" name="body" rows="20"></textarea>
        <div class="container-login100-form-btn mt-2">
            <button class="btn btn-corporative" type="submit">Actualizar datos</button>
        </div>
        <div class="passwrequirements">Se registrarán automáticamente la fecha actual y el autor de la noticia.</div>
    </form>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.es.js"></script>
<script src="/assets/vendor/tinymce/js/tinymce/tinymce.min.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/formControl.js"></script>
<script src="/assets/js/validationScript.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: 'textarea#body',
            language: 'es',
            plugins: ['fullscreen', 'lists', 'link', 'table'],
            toolbar: 'undo redo | styleselect | bold italic underline fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist | link unlink | table | fullscreen'
        });
    })
</script>
</body>
</html>