<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lista de noticias - Juding</title>

    <!-- Favicons -->
    <link href="/assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/all.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/bootstrapAccomodations.css" rel="stylesheet">
    <link href="/assets/css/responsiveTable.css" rel="stylesheet">
    <link href="/assets/css/adminScreen.css" rel="stylesheet">
</head>
<body>
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html">
            <img alt="" src="/assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/myHome">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/ranking">Ranking</a></li>
                <li><a class="nav-link scrollto" href="/myProfile">Mi perfil</a></li>
                <li class="dropdown">
                    <a href="#"><span>Administración</span> <i class="far fa-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>Usuarios</span> <i class="far fa-chevron-right"></i></a>
                            <ul>
                                <li><a href="/admin/user/list/competitors">Competidores</a></li>
                                <li><a href="/admin/user/list/referees">Árbitros</a></li>
                            </ul>
                        <li><a href="/admin/competition/list">Competiciones</a></li>
                        <li><a href="/admin/post/list">Noticias</a></li>
                    </ul>
                </li>
                <li><a class="login scrollto" href="../../index.html">Cerrar sesión</a></li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<div class="container pb-3">
    <div class="row pt-3">
        <div class="col-md-10">
            <h2 class="h2">Noticias</h2>
        </div>
        <div class="col-md-2">
            <a href="/admin/post/createNew" class="btn btn-corporative">
                <i class="fa fa-plus-circle"></i> Nueva noticia
            </a>
        </div>
    </div>
    <div class="responsiveTable">
        <div class="rtRow rtHeader">
            <div class="width5 text-center">Id.</div>
            <div class="width40 text-center">Título</div>
            <div class="width15 text-center">Fecha</div>
            <div class="width25 text-center">Autor</div>
            <div class="width15 text-center">Acciones</div>
        </div>
        {{#postList}}
        <div class="rtRow">
            <div class="width5 text-center">{{idPost}}</div>
            <div class="width40">{{title}}</div>
            <div class="width15 text-center">{{getFormattedEditionTimestamp}}</div>
            <div class="width25 text-center">{{author.getName}}</div>
            <div class="width15 text-center">

                <a class="btn btn-outline-corporative" href="/news/{{idPost}}" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                </a>
                <a href="/admin/post/edit/{{idPost}}" class="btn btn-outline-corporative">
                    <i class="fas fa-pencil"></i>
                </a>
                <button class="btn btn-corporative" data-bs-target="#modalDelete" data-bs-toggle="modal"
                        data-id="{{ idPost }}" data-type="post">
                    <i class="fas fa-trash-alt delete"></i>
                </button>
            </div>
        </div>
        {{/postList}}
    </div>
</div>

<!-- Modal for posts info -->
<div class="modal fade" id="modalProfile" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpenedTitle"></h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="card mb-3">
                            <div class="row g-0" id="modalOpenedBody"></div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for confirmating deleting of item in list -->
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
            </div>
            <div class="modal-body">
                ¿Seguro de que desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times-circle"></i> Cancelar
                </button>
                <a href="" id="modalDeleteLink">
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/adminScreens.js"></script>
</body>
</html>