<ng-template #loading>
  <div class="alert alert-secondary">
    <i class="fas fa-spin fa-circle-notch"></i> Cargando...
  </div>
</ng-template>
<ng-container *ngIf="editProfileForm && userInfo; else loading">
  <span class="profileModificationsTitle">Modifica tus datos</span>
  <div class="alert alert-danger" *ngIf="error"><i class="fas fa-exclamation-triangle"></i> Alguno de los campos no
    verifica el formato deseado. Inténtelo de nuevo.
  </div>
  <form class="needs-validation flex-sb flex-w" method="post" enctype="multipart/form-data" novalidate
        (submit)="submitForm($event)">
    <input type="hidden" name="licenseId" id="licenseId" value="{{ editProfileForm.licenseId }}">
    <div class="px-2">
      <h3 class="h3">Información para competición</h3>
      <div class="responsiveTable">
        <div class="rtRow">
          <div class="width40">
            <label for="beltSelector">Cinturón</label>
          </div>
          <div class="width60">
            <div class="beltSelector">
              <select class="form-select" id="beltSelector" name="beltSelector" required
                      [(ngModel)]="editProfileForm.belt">
                <ng-container *ngFor="let belt of beltService.belts">
                  <option [ngValue]="belt.name">{{ belt.longName }}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
        <div class="rtRow" *ngIf="userInfo.roles.includes('C')">
          <div class="width40">
            <label for="gym">Gimnasio</label>
          </div>
          <div class="width60">
            <input class="form-control" id="gym" name="gym" required type="text" [(ngModel)]="editProfileForm.gym">
            <div class="invalid-feedback">
              El gimnasio no puede estar vacío.
            </div>
          </div>
        </div>
        <div class="rtRow" *ngIf="userInfo.roles.includes('C')">
          <div class="width40"><label for="weight">Peso</label></div>
          <div class="width60">
            <input class="form-control" id="weight" name="weight" pattern="^[1-9][0-9]+$" required type="number" min="0"
                   [(ngModel)]="editProfileForm.weight">
            <div class="invalid-feedback">
              El peso es obligatorio y debe ser un valor numérico positivo.
            </div>
          </div>
        </div>
        <div class="rtRow" *ngIf="userInfo.roles.includes('R')">
          <div class="width40">
            <label for="refereeRange">Rango</label>
          </div>
          <div class="width60">
            <select class="form-select" id="refereeRange" name="refereeRange" required
                    [(ngModel)]="editProfileForm.refereeRange">
              <ng-container *ngFor="let range of refereeRangeService.ranges">
                <option [ngValue]="range.name">{{ range.longName }}</option>
              </ng-container>
            </select>
            <div class="invalid-feedback">
              Es obligatorio seleccionar algún rango.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-2 mt-3">
      <h3 class="h3">Mi información personal</h3>
      <div class="responsiveTable">
        <div class="rtRow">
          <div class="width40"><label for="nickname">Apodo</label></div>
          <div class="width60">
            <input class="form-control" id="nickname" name="nickname" required type="text"
                   value="{{ userInfo.nickname }}" readonly>
          </div>
        </div>
        <div class="rtRow">
          <div class="width40"><label for="phone">Teléfono</label></div>
          <div class="width60">
            <input class="form-control" id="phone" name="phone" pattern="(?=.*\d).{9}" type="text"
                   [(ngModel)]="editProfileForm.phone">
            <div class="invalid-feedback">
              El teléfono no verifica el formato requerido.
            </div>
          </div>
        </div>
        <div class="rtRow">
          <div class="width40"><label for="email">Correo electrónico</label></div>
          <div class="width60">
            <input class="form-control" id="email" name="email" required type="email"
                   [(ngModel)]="editProfileForm.email">
            <div class="invalid-feedback">
              El correo electrónico no verifica el formato requerido.
            </div>
          </div>
        </div>
        <div class="rtRow">
          <div class="width40"><label for="image">Imagen de perfil</label></div>
          <div class="width60">
            <input class="form-control" id="image" name="image" type="file" accept="image/jpeg, image/png"
                   (change)="imageService.onFileChanged($event)" [(ngModel)]="fileInput">
            <div class="invalid-feedback">
              Prueba de nuevo a subir la imagen en formato ".jpg" o ".png".
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-login100-form-btn">
      <button class="btn btn-corporative" type="submit">Guardar cambios</button>
    </div>
  </form>
</ng-container>
