<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Juding - Judo Federation of Madrid</title>

    <!-- SEO INFORMATION -->
    <meta content="Página oficial de la Federación Madrileña de Judo" name="description">
    <meta content="Judo, Artes Marciales, Deporte, Federación, Madrid" name="keywords">
    <meta content="Ismael González Sastre, Diego Guerrero Carrasco, Alberto Pérez Pérez, José Luis Toledano Díaz"
          name="author">

    <!-- Favicons -->
    <link href="assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/all.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/header.css" rel="stylesheet">
</head>
<body>
<!-- ======= Header ======= -->
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html">
            <img alt="" src="assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
                <li><a class="nav-link scrollto" href="#about">Sobre Nosotros</a></li>
                <li><a class="nav-link scrollto" href="#values">Valores</a></li>
                <li><a class="nav-link scrollto" href="#history">Historia</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contáctanos</a></li>
                <li><a class="nav-link scrollto" href="#location">Dónde estamos</a></li>
                <li><a class="nav-link scrollto" href="#posts">Publicaciones</a></li>
                <li><a class="login scrollto" href="private/login.html">Iniciar sesión</a></li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section class="hero d-flex align-items-center" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Federación de Judo de Madrid</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">¡Únete, aprende y entrena con nosotros!</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                           href="private/login.html">
                            <span>Iniciar sesión</span>
                            <i class="fal fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img alt="" class="img-fluid" src="assets/img/hero-img.png">
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section class="about" id="about">
        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>¿Quiénes somos?</h3>
                        <h2>Somos la Federación Madrileña de Judo</h2>
                        <p>
                            Siguiendo las enseñanzas de Jigoro Kano esta federación mantiene en pie la tradición y sigue
                            compartiendo los valores tradicionales de este deporte. Desde pequeños competidores hasta
                            grandes maestros, todos pueden compartir su admiración por el Judo en nuestros cursos,
                            entrenamientos y competiciones.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img alt="" class="img-fluid ImageDecoration" src="assets/img/about.jpg">
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section class="values" id="values">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>Valores del Judo</h2>
                <p>Descubre los increíbles valores del Judo</p>
            </header>
            <div class="row">
                <div class="col-lg-4 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="100">
                        <img alt="" class="img-fluid" src="assets/img/values/values-1.png">
                        <h3>La amistad</h3>
                        <p>“El más puro de los sentimientos humanos”</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="200">
                        <img alt="" class="img-fluid" src="assets/img/values/values-2.png">
                        <h3>El coraje</h3>
                        <p>“Se hace lo que es justo”</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="300">
                        <img alt="" class="img-fluid" src="assets/img/values/values-3.png">
                        <h3>La sinceridad</h3>
                        <p>“Expresar los sentimientos sin disfrazarlos”</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="400">
                        <img alt="" class="img-fluid" src="assets/img/values/values-4.jpeg">
                        <h3>El honor</h3>
                        <p>“Ser fiel a tu palabra”</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="500">
                        <img alt="" class="img-fluid" src="assets/img/values/values-5.jpeg">
                        <h3>La modestia</h3>
                        <p>“Hablar de uno mismo sin orgullo”</p>
                    </div>
                </div>
                <div class="col-lg-4 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="600">
                        <img alt="" class="img-fluid" src="assets/img/values/values-6.jpeg">
                        <h3>La cortesía</h3>
                        <p>“El respeto de los demás”</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 mt-4 mt-lg-0 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="700">
                        <img alt="" class="img-fluid" src="assets/img/values/values-7.jpeg">
                        <h3>El respeto</h3>
                        <p>“Sin él, no puede existir una confianza”</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0 valuesCol">
                    <div class="box" data-aos="fade-up" data-aos-delay="800">
                        <img alt="" class="img-fluid" src="assets/img/values/values-8.jpeg">
                        <h3>El autocontrol</h3>
                        <p>“Es saber controlar la ira”</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Values Section -->

    <!-- ======= History Section ======= -->
    <section class="history" id="history">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>Historia del Judo</h2>
                <p>Léenos y descubre un poco más acerca de la historia del Judo</p>
            </header>
            <!-- Feature Tabs -->
            <div class="row feature-tabs" data-aos="fade-up">
                <div class="col-lg-6">
                    <!-- Tabs -->
                    <ul class="nav nav-pills mb-3">
                        <li>
                            <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Introducción</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab2">¿Qué es el Judo?</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab3">Deporte Completo</a>
                        </li>
                    </ul><!-- End Tabs -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
                            <p>Los orígenes del Judo se remontan al inicio del siglo XVII cuando la clase militar
                                mandaba en Japón. Entre sus actividades estaba la lucha sin armas.</p>
                            <p>Luego hacia 1882 Jigoro Kano desarrolló este deporte basándose en el Ju-Jitsu, y le llamó
                                JUDO "la vía gentil o delicada". Jigoro Kano nació en 1860 en un pueblo japonés llamado
                                Mikage.</p>
                            <p>En su adolescencia, su complexión física era muy débil (era un hombre de baja estatura y
                                poco peso) pero quería ser fuerte como sus compañeros de estudios y por ello comenzó a
                                aprender Ju-Jitsu. Tras desarrollar esas técnicas que aprendió, inventó un arte marcial
                                en el que la fuerza física no era el elemento fundamental para su práctica.</p>
                            <p>Tras fundar su propia escuela, en 1882, dedicó su vida a promoverlo; haría demostraciones
                                en Europa y su participación fue esencial para la futura inclusión del Judo en el
                                programa olímpico de Tokio'64. Murió en 1938 cuando viajaba en barco a su país desde El
                                Cairo.</p>
                            <p>La popularidad de este deporte ha ido creciendo día a día. El año 1964 en Tokio, el Judo
                                masculino pasó a considerarse disciplina olímpica. En 1992, en los Juegos de Barcelona,
                                el Judo femenino entró también a formar parte del programa olímpico, con una excelente
                                actuación de las judokas españolas.</p>
                        </div><!-- End Tab 1 Content -->
                        <div class="tab-pane fade show" id="tab2">
                            <p>Es un deporte olímpico de origen oriental. En contra de lo que generalmente se piensa
                                o podría parecer dado su carácter de lucha, no se trata de un deporte violento, sino más
                                bien todo lo contrario ya que la fuerza física no es un elemento fundamental y desde el
                                comienzo de su práctica, de forma reglada, se busca la mayor eficacia con el mínimo
                                esfuerzo.</p>
                            <p>El combate de Judo se podría dividir en dos partes igualmente significativas: trabajo en
                                Pie (NAGE WAZA) en el que se busca la proyección del contrario y trabajo en Suelo (NE
                                WAZA) donde se logra vencer bien por inmovilización (OSAEKOMI WAZA), luxación (KANSETSU
                                WAZA) o estrangulación (SHIME WAZA).</p>
                            <p>El objetivo del judoka en un combate es lograr el IPPON lo que supone ganar el combate;
                                el Ippon se puede conseguir gracias a:</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="far fa-check"></i>
                                <h4>Una proyección limpia en la que el rival cae de espaldas, con suficiente fuerza y
                                    velocidad.</h4>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <i class="far fa-check"></i>
                                <h4>Inmovilizar al rival (con la espalda pegada al suelo) durante 25 segundos.</h4>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <i class="far fa-check"></i>
                                <h4>Por abandono del rival a través de luxación o estrangulación.</h4>
                            </div>
                            <p>La práctica del Judo está abierta a cualquier persona, sea cual sea su condición física o
                                edad; cualquiera puede iniciarse en este deporte, de cara solamente al entrenamiento
                                como actividad física, por el hecho de aprender, como medio de autodefensa y por
                                supuesto con vistas a la competición, aunque bien es cierto que hoy día la competición
                                de Judo está a muy alto nivel, lo que exige mucho entrenamiento y preparación.</p>
                        </div><!-- End Tab 2 Content -->
                        <div class="tab-pane fade show" id="tab3">
                            <p>Desarrollo muscular armonioso.</p>
                            <p>Equilibrio psicológico y emocional.</p>
                            <p>Autocontrol</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="far fa-check"></i>
                                <h4>CONFIANZA Y SEGURIDAD:</h4>
                            </div>
                            <p>Deporte olímpico.</p>
                            <p>Defensa personal.</p>
                            <p>Concentración.</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="far fa-check"></i>
                                <h4>AMISTAD:</h4>
                            </div>
                            <p>Trabajo en grupo.</p>
                            <p>Desarrollo social.</p>
                            <p>Juegos y diversión.</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="far fa-check"></i>
                                <h4>DEPORTE PARA TODOS:</h4>
                            </div>
                            <p>De 3 a 99 años.</p>
                            <p>Ambos sexos.</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="far fa-check"></i>
                                <h4>ANTE TODO: "RESPETO, EDUCACION Y CORTESÍA"</h4>
                            </div>
                        </div><!-- End Tab 3 Content -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <img alt="" class="img-fluid ImageDecoration" src="assets/img/features-2.png">
                </div>
            </div><!-- End Feature Tabs -->
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" id="contact">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>Contáctanos</h2>
                <p>Puedes contactarnos directamente desde nuestra web</p>
            </header>
            <div class="row gy-4 align-middle">
                <div class="col-lg-6">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="fas fa-phone"></i>
                                <h3>Llámanos</h3>
                                <a href="tel:916166027">91 616 60 27</a> <br> <a href="tel:916166107">91 616 61 07</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="far fa-envelope"></i>
                                <h3>Envíanos un Email</h3>
                                <a href="mailto:fmjudo@fmjudo.net">fmjudo@fmjudo.net</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#" class="contact-form" method="post">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input class="form-control" name="name" placeholder="Tu nombre" required type="text">
                            </div>
                            <div class="col-md-6 ">
                                <input class="form-control" name="email" placeholder="Tu Email" required type="email">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" name="subject" placeholder="Asunto" required type="text">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="message" placeholder="Mensaje" required
                                          rows="6"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="loading">Cargando</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>
                                <button type="submit">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

    <!-- ======= Location Section ======= -->
    <section class="contact" id="location">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>Dónde estamos</h2>
                <p>Encuentra fácilmente nuestras instalaciones</p>
            </header>
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="far fa-map-marker-alt"></i>
                                <h3>Dirección</h3>
                                <p>Calle de León, 59, 28670,<br>Villaviciosa de Odón, Madrid</p>
                                <br>
                                <a href="https://www.google.com/maps?f=d&daddr%3DFederaci%C3%B3n%20Madrile%C3%B1a%20de%20Judo&dirflg=d">
                                    <i class="far fa-map"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="fal fa-clock"></i>
                                <h3>Horario</h3>
                                <p>Lunes - Sábados<br>9:00 - 22:00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <iframe allowfullscreen=""
                            aria-hidden="false" height="450"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4299.825975763265!2d-3.879516559455695!3d40.354853500049316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2da0afff6721ddcf!2sFederaci%C3%B3n%20Madrile%C3%B1a%20de%20Judo!5e0!3m2!1ses!2ses!4v1613693286484!5m2!1ses!2ses"
                            style="border:0;"
                            tabindex="0" width="600"></iframe>
                </div>
            </div>
        </div>
    </section><!-- End Location Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section class="posts" id="posts">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>Publicaciones</h2>
                <p>Ponte al día leyendo todas las publicaciones desde nuestra web</p>
            </header>
            <div class="row">
                {{#postList}}
                <div class="col-lg-4">
                    <div class="post-box">
                        <div class="post-img"><img alt="" class="img-fluid" src="/image/{{idPost}}"></div>
                        <span class="post-date">{{timestamp}}</span>
                        <h3 class="post-title">{{title}}</h3>
                        <div class="readmore stretched-link mt-auto" data-bs-target="#modalPost" data-bs-toggle="modal">
                            <span>Leer más</span><i class="far fa-long-arrow-right"></i>
                        </div>
                        <div class="post-info">{{body}}</div>
                    </div>
                </div>
                {{/postList}}
            </div>
        </div>
    </section>
    <!-- End Recent Blog Posts Section -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="footer" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a class="logo d-flex align-items-center" href="index.html">
                        <span>JUDING</span>
                    </a>
                    <div class="social-links mt-3">
                        <a class="facebook" href="https://www.facebook.com/RFEJYDA/events/">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="youtube" href="https://www.youtube.com/channel/UCjCAO5IVh8WNcL61FsBQorQ">
                            <i class="fab fa-youtube-square"></i>
                        </a>
                        <a class="instagram" href="https://www.instagram.com/fmjudoyda/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-7 footer-links">
                    <h4>Links útiles</h4>
                    <i class="fal fa-chevron-right"></i> <a href="#">Inicio</a>
                    <i class="fal fa-chevron-right"></i> <a href="#contact">Contacto</a>
                    <i class="fal fa-chevron-right"></i> <a href="termsAndConditionsOfUse.html">Condiciones de Uso</a>
                    <i class="fal fa-chevron-right"></i> <a href="cookiePolicy.html">Política de Cookies</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span style="font-variant: small-caps">Juding</span></strong>. Todos los derechos
            reservados.
        </div>
    </div>
</footer>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#">
    <i class="far fa-chevron-up"></i>
</a>

<!-- Modal for posts info -->
<div class="modal fade" id="modalPost" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpenedTitle"></h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body" id="modalOpenedBody"></div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<!-- Own JS Files -->
<script src="assets/js/main.js"></script>
</body>
</html>