<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Registro - Juding</title>

    <!-- Favicons -->
    <link href="/assets/img/hero-img.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/all.css" rel="stylesheet">

    <!-- Own CSS Files -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/bootstrapAccomodations.css" rel="stylesheet">
    <link href="/assets/css/loginAndRegistration.css" rel="stylesheet">
</head>
<body>
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="index.html">
            <img alt="" src="/assets/img/hero-img.png">
            <span>Juding</span>
        </a>
        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#">Registro</a></li>
                <li><a class="login scrollto" href="/login">Volver al inicio</a></li>
            </ul>
            <i class="far fa-bars mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<div class="container pb-4">
    <form action="{{ action }}" class="needs-validation juding-form-user" method="post" novalidate enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <h2 class="h2">{{ #isCompetitor }}Registro de competidores{{ /isCompetitor }}{{ ^isCompetitor }}Solicitud de
            federación de árbitros {{ /isCompetitor }}</h2>
        <h3 class="h3">Información personal</h3>

        <!-- Name and Surname fields -->
        <div class="row">
            <div class="col-md-6">
                <label class="txt1" for="name">Nombre <span class="asterisk">*</span></label>
                <input class="form-control" id="name" name="name" required type="text">
                <div class="invalid-feedback">
                    El campo no puede estar vacío.
                </div>
            </div>
            <div class="col-md-6">
                <label class="txt1" for="surname">Apellidos <span class="asterisk">*</span></label>
                <input class="form-control" id="surname" name="surname" required type="text">
                <div class="invalid-feedback">
                    El campo no puede estar vacío.
                </div>
            </div>
        </div>

        <!-- Gender radio selection -->
        <span class="txt1">Género <span class="asterisk">*</span></span>
        {{{ genderSelection }}}

        <div class="row">
            <div class="col-md-6">
                <!-- Phone field -->
                <label class="txt1" for="phone">Teléfono</label>
                <input class="form-control" id="phone" name="phone" pattern="(?=.*\d).{9}" type="text">
                <div class="invalid-feedback">
                    El teléfono debe contener 9 dígitos.
                </div>
            </div>
            <div class="col-md-6">
                <!-- Email field -->
                <label class="txt1" for="email">Correo electrónico <span class="asterisk">*</span></label>
                <input class="form-control" id="email" name="email" required type="email">
                <div class="invalid-feedback">
                    El correo electrónico no tiene el formato adecuado.
                </div>
            </div>
        </div>

        <!-- Birth date field -->
        <label class="txt1" for="birthDate">Fecha de nacimiento <span class="asterisk">*</span></label>
        <input class="form-control" id="birthDate" name="birthDate" required type="text">
        <div class="invalid-feedback">
            La fecha de nacimiento es obligatoria y debe introducirse en formato dd/mm/yyyy.
        </div>

        <!-- DNI -->
        <label class="txt1" for="dni">DNI <span class="asterisk">*</span></label>
        <input class="form-control" id="dni" name="dni" pattern="^([0-9]{8}|[XYZ][0-9]{7})[A-Z]{1}$" required
               type="text" data-role="{{#isCompetitor}}Competitor{{/isCompetitor}}{{^isCompetitor}}Referee{{/isCompetitor}}">
        <div class="invalid-feedback">
            El DNI no sigue el formato requerido (ejemplo: 12345678Z).
        </div>

        <h3 class="h3 mt-2">Información de autenticación</h3>
        <!-- License ID -->
        <label class="txt1" for="licenseId">Número de licencia <span class="asterisk">*</span></label>
        <input class="form-control" id="licenseId" name="licenseId" type="text"
               pattern="{{ #isCompetitor }}[0-9]{10}${{ /isCompetitor }}{{ ^isCompetitor }}JU-[0-9]{10}${{ /isCompetitor }}" required>
        <div class="invalid-feedback">
            La licencia no se ajusta al formato requerido (10 dígitos {{ ^isCompetitor }}precedidos de JU-{{
            /isCompetitor }}).
        </div>

        <!-- Nickname field -->
        <label class="txt1" for="nickname">Apodo <span class="asterisk">*</span></label>
        <input class="form-control" id="nickname" name="nickname" required type="text">
        <div class="invalid-feedback">
            El campo no puede estar vacío.
        </div>

        <!-- Password -->
        <label class="txt1" for="password">Contraseña <span class="asterisk">*</span></label>
        <div class="input-group has-validation">
            <input class="form-control" id="password" name="password"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required type="password">
            <span class="input-group-text" id="showPassword">
                <i class="far fa-eye-slash"></i>
            </span>
            <div class="invalid-feedback">
                Esta contraseña no se acoge al formato solicitado.
            </div>
        </div>
        <div class="passwrequirements">La contraseña debe tener al menos 8 caracteres incluyendo al menos un
            número, una letra minúscula y una letra mayúscula.
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="txt1" for="securityQuestion">Pregunta de seguridad <span class="asterisk">*</span></label>
                <input class="form-control" id="securityQuestion" name="securityQuestion" required type="text">
                <div class="invalid-feedback">
                    Es obligatorio determinar una pregunta de seguridad.
                </div>
            </div>
            <div class="col-md-6">
                <label class="txt1" for="securityAnswer">Respuesta de seguridad <span class="asterisk">*</span></label>
                <input class="form-control" id="securityAnswer" name="securityAnswer" required type="text">
                <div class="invalid-feedback">
                    Es obligatorio determinar una respuesta de seguridad.
                </div>
            </div>
        </div>

        <h3 class="h3">Información para competición</h3>

        <div class="row">
            <div class="col-md-6">
                <!-- Profile image -->
                <label class="txt1" for="image">Imagen de perfil <span class="asterisk">*</span></label>
                <input class="form-control" id="image" name="image" type="file" required accept="image/jpeg, image/png">
                <div class="invalid-feedback">
                    Prueba de nuevo a subir la imagen en formato .jpg o .png.
                </div>
            </div>
            <div class="col-md-6">
                <!-- Belt selector -->
                <label class="txt1" for="belt">Cinturón <span class="asterisk">*</span></label>
                <select name="belt" id="belt" class="form-select" required>
                    <option selected disabled value="">Seleccione un cinturón...</option>
                    {{{ beltSelector }}}
                </select>
                <div class="invalid-feedback">
                    El cinturón es obligatorio.
                </div>
            </div>
        </div>

        {{ #isCompetitor }}
        <div class="row">
            <div class="col-md-6">
                <!-- Gym -->
                <label class="txt1" for="gym">Gimnasio <span class="asterisk">*</span></label>
                <input class="form-control" id="gym" name="gym" required type="text">
                <div class="invalid-feedback">
                    El gimnasio es obligatorio.
                </div>
            </div>
            <div class="col-md-6">
                <!-- Weight -->
                <label class="txt1" for="weight">Peso <span class="asterisk">*</span></label>
                <input class="form-control" id="weight" name="weight" pattern="^[1-9][0-9]+$" type="number" required>
                <div class="invalid-feedback">
                    El peso es obligatorio.
                </div>
            </div>
        </div>
        {{ /isCompetitor }}

        <div class="container-login100-form-btn mt-3">
            <button class="btn btn-corporative" type="submit">Registrarse</button>
        </div>
    </form>
</div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.es.js"></script>

<!-- Own JS Files -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/formControl.js"></script>
<script src="/assets/js/validationScript.js"></script>
</body>
</html>