<h3 class="competitionSub">Árbol de competición</h3>
<div id="wrapper">
    <div *ngIf="fightsList[0].finished; else otherCont">
        <span class="label winner">{{fightsList[0].winner.nickname}}</span>
    </div>
    <div class="branch lv1">
        <div class="entry">
            <div *ngIf="fightsList[1].finished; else otherCont">
                <div *ngIf="fightsList[1].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[0].finished, 'notFinished': !fightsList[0].finished}"> {{fightsList[1].winner.nickname}} </span>
                </div>
                <div *ngIf="fightsList[1].winner === null">
                    <span class="label notFinished">{{ fightsList[1].winner.nickname }}</span>
                </div>
            </div>
            <div class="branch lv2">
                <div class="entry">
                    <div *ngIf="fightsList[3].finished; else otherCont">
                        <div *ngIf="fightsList[3].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[1].finished, 'notFinished': !fightsList[1].finished}"> {{fightsList[3].winner.nickname}} </span>
                        </div>
                        <div *ngIf="fightsList[3].winner === null">
                                    <span
                                        class="label notFinished">{{ fightsList[3].winner.nickname }}</span>
                        </div>
                    </div>
                    <div class="branch lv3">
                        <div class="entry">
                            <div *ngIf="fightsList[7].finished; else otherCont">
                                <div *ngIf="fightsList[7].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[3].finished, 'notFinished': !fightsList[3].finished}"> {{fightsList[7].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[7].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[7].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[7].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[7].finished, 'notFinished': !fightsList[7].finished}"> {{fightsList[7].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[7].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[7].finished, 'notFinished': !fightsList[7].finished}"> {{fightsList[7].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry">
                            <div *ngIf="fightsList[8].finished; else otherCont">
                                <div *ngIf="fightsList[8].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[3].finished, 'notFinished': !fightsList[3].finished}"> {{fightsList[8].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[8].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[8].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[8].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[8].finished, 'notFinished': !fightsList[8].finished}"> {{fightsList[8].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[8].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[8].finished, 'notFinished': !fightsList[8].finished}"> {{fightsList[8].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry">
                    <div *ngIf="fightsList[4].finished; else otherCont">
                        <div *ngIf="fightsList[4].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[1].finished, 'notFinished': !fightsList[1].finished}"> {{fightsList[4].winner.nickname}} </span>
                        </div>
                        <div *ngIf="fightsList[4].winner === null">
                                    <span
                                        class="label notFinished">{{ fightsList[4].winner.nickname }}</span>
                        </div>
                    </div>
                    <div class="branch lv3">
                        <div class="entry">
                            <div *ngIf="fightsList[9].finished; else otherCont">
                                <div *ngIf="fightsList[9].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[4].finished, 'notFinished': !fightsList[4].finished}"> {{fightsList[9].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[9].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[9].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[9].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[9].finished, 'notFinished': !fightsList[9].finished}"> {{fightsList[9].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[9].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[9].finished, 'notFinished': !fightsList[9].finished}"> {{fightsList[9].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry">
                            <div *ngIf="fightsList[10].finished; else otherCont">
                                <div *ngIf="fightsList[10].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[4].finished, 'notFinished': !fightsList[4].finished}"> {{fightsList[10].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[10].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[10].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[10].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[10].finished, 'notFinished': !fightsList[10].finished}"> {{fightsList[10].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[10].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[10].finished, 'notFinished': !fightsList[10].finished}"> {{fightsList[10].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="entry">
            <div *ngIf="fightsList[2].finished; else otherCont">
                <div *ngIf="fightsList[2].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[0].finished, 'notFinished': !fightsList[0].finished}"> {{fightsList[2].winner.nickname}} </span>
                </div>
                <div *ngIf="fightsList[2].winner === null">
                    <span class="label notFinished">{{ fightsList[2].winner.nickname }}</span>
                </div>
            </div>
            <div class="branch lv2">
                <div class="entry">
                    <div *ngIf="fightsList[5].finished; else otherCont">
                        <div *ngIf="fightsList[5].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[2].finished, 'notFinished': !fightsList[2].finished}"> {{fightsList[5].winner.nickname}} </span>
                        </div>
                        <div *ngIf="fightsList[5].winner === null">
                                    <span
                                        class="label notFinished">{{ fightsList[5].winner.nickname }}</span>
                        </div>
                    </div>
                    <div class="branch lv3">
                        <div class="entry">
                            <div *ngIf="fightsList[11].finished; else otherCont">
                                <div *ngIf="fightsList[11].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[5].finished, 'notFinished': !fightsList[5].finished}"> {{fightsList[11].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[11].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[11].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[11].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[11].finished, 'notFinished': !fightsList[11].finished}"> {{fightsList[11].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[11].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[11].finished, 'notFinished': !fightsList[11].finished}"> {{fightsList[11].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry">
                            <div *ngIf="fightsList[12].finished; else otherCont">
                                <div *ngIf="fightsList[12].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[5].finished, 'notFinished': !fightsList[5].finished}"> {{fightsList[12].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[12].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[12].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[12].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[12].finished, 'notFinished': !fightsList[12].finished}"> {{fightsList[12].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[12].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[12].finished, 'notFinished': !fightsList[12].finished}"> {{fightsList[12].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry">
                    <div *ngIf="fightsList[6].finished; else otherCont">
                        <div *ngIf="fightsList[6].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[2].finished, 'notFinished': !fightsList[2].finished}"> {{fightsList[6].winner.nickname}} </span>
                        </div>
                        <div *ngIf="fightsList[6].winner === null">
                                    <span
                                        class="label notFinished">{{ fightsList[6].winner.nickname }}</span>
                        </div>
                    </div>
                    <div class="branch lv3">
                        <div class="entry">
                            <div *ngIf="fightsList[13].finished; else otherCont">
                                <div *ngIf="fightsList[13].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[6].finished, 'notFinished': !fightsList[6].finished}"> {{fightsList[13].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[13].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[13].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[13].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[13].finished, 'notFinished': !fightsList[13].finished}"> {{fightsList[13].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[13].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[13].finished, 'notFinished': !fightsList[13].finished}"> {{fightsList[13].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry">
                            <div *ngIf="fightsList[14].finished; else otherCont">
                                <div *ngIf="fightsList[14].winner !== null">
                                          <span
                                              [ngClass]="{'label': true, 'finished': fightsList[6].finished, 'notFinished': !fightsList[6].finished}"> {{fightsList[14].winner.nickname}} </span>
                                </div>
                                <div *ngIf="fightsList[14].winner === null">
                                            <span
                                                class="label notFinished">{{ fightsList[14].winner.nickname }}</span>
                                </div>
                            </div>
                            <div class="branch lv4">
                                <div class="entry">
                                    <div *ngIf="fightsList[14].winner !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[14].finished, 'notFinished': !fightsList[14].finished}"> {{fightsList[14].winner.nickname}} </span>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div *ngIf="fightsList[14].loser !== null; else otherCont">
                                                <span
                                                    [ngClass]="{'label': true, 'finished': fightsList[14].finished, 'notFinished': !fightsList[14].finished}"> {{fightsList[14].loser.nickname}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #otherCont>
    <span class="label">Pendiente</span>
</ng-template>
